/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pl-20{
  padding-left: 20px !important;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {

 }

@media all and (min-width: 480px) and (max-width: 768px) {

 }

@media all and (max-width: 480px) {
  .posAbsolute[_ngcontent-rqw-c34] {
    left: 35%;
}
 }
